@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
a {
  text-decoration: none;
}
ul,
li {
  list-style: none;
}
body {
  max-width: 1920px;
}

/* header section style */
header {
  width: 100%;
  max-width: 1920px;
  height: 850px;
  background-color: rgba(229, 84, 115, 0.1);
  display: flex;
}
header .content {
  max-width: 708px;
  margin: 197px 97px 147px 240px;
}
header .content h1 {
  color: rgb(39, 39, 39);
  font-size: 80px;
  font-weight: 800;
  line-height: 96px;
}
header .content p {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin: 32px 0 32px 0;
}
header .content .link {
  border-radius: 8px;
  background: rgb(229, 84, 115);
  padding: 20px 43px 20px 43px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}
header .image {
  width: 635px;
  height: 800px;
  margin-top: 50px;
}

/* Featured Flowers section style */
.featured-flowers .header {
  max-width: 594px;
  height: 132px;
  margin: 178px auto 48px;
}
.featured-flowers .header h6 {
  color: rgb(39, 39, 39);
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  text-align: center;
  margin-bottom: 24px;
}
.featured-flowers .header p {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
}
.featured-flowers .main .items {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.featured-flowers .main .item {
  width: 464px;
  height: 605px;
}
.featured-flowers .main .item img {
  width: 464px;
  height: 538px;
  margin-bottom: 32px;
}
.featured-flowers .main .item p {
  color: rgb(39, 39, 39);
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;
  text-align: center;
  text-decoration-line: underline;
}
.featured-flowers .footer {
  width: 1440px;
  height: 320px;
  margin: 128px auto;
  padding: 87px 175px;
  border-radius: 8px;
  background-color: rgba(39, 39, 39, 0.05);
}
.featured-flowers .footer .items {
  width: 1090px;
  height: 147px;
  display: flex;
  justify-content: space-between;
}
.featured-flowers .footer .items .item {
  width: 372px;
  height: 147px;
  text-align: center;
}
.featured-flowers .footer .items .item p {
  color: rgba(39, 39, 39, 0.8);
  font-size: 24px;
  font-weight: 600;
  line-height: 35px;
  margin-top: 28px;
}

/* offer section style */
.offer {
  width: 100%;
  max-width: 1922px;
  height: 620px;
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 186px;
}
.offer .content {
  width: 594px;
  height: 228px;
  text-align: center;
}
.offer .content h6 {
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
}
.offer .content p {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin: 24px auto 32px;
}
.offer .content .link {
  width: 155px;
  height: 64px;
  color: rgb(255, 255, 255);
  border-radius: 8px;
  background: rgb(229, 84, 115);
  padding: 20px 43px 20px 43px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

/* social-media section style */
.social-media .header {
  width: 594px;
  height: 132px;
  margin: 128px auto 48px;
  text-align: center;
}
.social-media .header h1 {
  color: rgb(39, 39, 39);
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  margin-bottom: 24px;
}
.social-media .header p {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.social-media .gallery {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.social-media .gallery img {
  width: 342px;
  height: 396px;
}
.social-media .subscribe {
  background-image: url("images/latest-deals-bg.png");
  width: 1440px;
  height: 449px;
  margin: 128px auto;
  text-align: center;
}
.social-media .subscribe > h1 {
  color: rgb(39, 39, 39);
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  padding: 122px 0 16px;
}
.social-media .subscribe > p {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.social-media .subscribe > input {
  width: 700px;
  height: 64px;
  padding: 22px;
  margin-top: 48px;
  border-radius: 8px;
  background: rgb(255, 255, 255);
}
.social-media .subscribe > button {
  width: 150px;
  height: 64px;
  border-radius: 8px;
  background: rgb(229, 84, 115);
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}
@media screen and (max-width: 576px) {
  /* header */
  header,
  .featured-flowers .header,
  .offer {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  header .content {
    margin: 20px;
  }
  header .image {
    display: none;
  }
  /* main */
  /* featured-flowers */
  .featured-flowers .header {
    width: 100%;
    height: auto;
    margin: 10px;
  }
  .featured-flowers .main .items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
  }
  .featured-flowers .main .item {
    flex: 1;
  }
  .featured-flowers .footer {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    background-color: rgba(39, 39, 39, 0.05);
  }
  .featured-flowers .footer .items {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .featured-flowers .footer .items .item {
    width: 100%;
    height: auto;
    padding: 10px;
    text-align: center;
  }
  /* offer */
  .offer {
    padding: 20px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .offer .content {
    width: 100%;
    height: auto;
    text-align: center;
  }
  /* social-media  */
  .social-media .header,
  .social-media .gallery,
  .social-media .subscribe {
    width: 100%;
    height: auto;
    padding: 20px;
    margin: 30px auto;
  }
  .social-media .gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .social-media .subscribe {
    background-size: contain;
  }
  .social-media .subscribe > input {
    width: 100%;
    height: auto;
    padding: 22px;
  }
  .social-media .subscribe > button {
    margin: 20px;
  }
}
/* footer section style */
footer {
  max-width: 1922px;
  height: 449px;
  background-color: rgb(17, 16, 16);
  text-align: center;
}
footer h1 {
  font-size: 48px;
  font-weight: 800;
  line-height: 58px;
  color: rgb(229, 84, 115);
  padding: 128px 0 24px;
}
footer h1 > span {
  color: rgb(255, 255, 255);
}
footer p {
  color: rgba(255, 255, 255, 0.9);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
footer h6 {
  color: rgba(255, 255, 255, 0.4);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  margin-top: 32px;
}

/* responsive */
@media screen and (max-width: 576px) {
  /* header */
  header,
  .featured-flowers .header,
  .offer {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  header .content {
    margin: 20px;
  }
  header .image {
    display: none;
  }
  /* main */
  /* featured-flowers */
  .featured-flowers .header {
    width: 100%;
    height: auto;
    margin: 10px;
  }
  .featured-flowers .main .items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
  }
  .featured-flowers .main .item {
    flex: 1;
  }
  .featured-flowers .footer {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    background-color: rgba(39, 39, 39, 0.05);
  }
  .featured-flowers .footer .items {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .featured-flowers .footer .items .item {
    width: 100%;
    height: auto;
    padding: 10px;
    text-align: center;
  }
  /* offer */
  .offer {
    padding: 20px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .offer .content {
    width: 100%;
    height: auto;
    text-align: center;
  }
  /* social-media  */
  .social-media .header,
  .social-media .gallery,
  .social-media .subscribe {
    width: 100%;
    height: auto;
    padding: 20px;
    margin: 30px auto;
  }
  .social-media .gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .social-media .subscribe {
    background-size: contain;
  }
  .social-media .subscribe > input {
    width: 100%;
    height: auto;
    padding: 22px;
  }
  .social-media .subscribe > button {
    margin: 20px;
  }
}
